{% extends 'base.html'%}
{% block container %}

    <div class="jumbotron page-header">
        <h1 style="color: green"><strong>FisioAgenda</strong></h1><br>
        <h2><strong>Agenda online, prática e completa</strong></h2>

        <h2><strong>Acesso fácil de qualquer local ou dispositivo</strong></h2>
        <p>Possibilidade de acessar a agenda de qualquer local e de diferentes dispositivos, como computador, celular ou tablet.</p>
        <h2><strong>Facilidade e comodidade para o usuário final</strong></h2>
        <p>Permite ao usuário a consulta de eventuais datas e horários disponíveis na agenda do profissional que lhe atenderá, bem como o cancelamento de consulta/atendimento que já tiver sido marcado</p>
        <p><a class="btn btn-primary">Saiba mais sobre o projeto</a></p>
    </div>

{% endblock %}
